[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-adk = "*"
python-dotenv = "*"
ipython = "*"
requests = "*"
google-genai = "*"
timezonefinder = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"
